.page-header__logo {
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: $mainColor;
  font-size: 26px;
  line-height: 1.19;
  &--accent-color {
    color: $accentColor;
  }

  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
